.fill-height{
    background: rgb(29, 29, 29); 
    min-height: 100%;
    height:100vh;
}

.title{
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 70px;
    color: rgb(211, 233, 13)
}

.desc{
    font-size: 18px;
    margin-bottom: 4px;
}

.media-follow{
    font-size: 26px;
}

.media-icon{
    padding-right: 8px;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255); /*white text*/
}

a {
    color: white;
    text-decoration: none;
}